<!DOCTYPE HTML>
<html>
<head>
	<title> Sudeep Juvekar's Blog</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<link rel="stylesheet" href="/stylesheets/sudeep_blog_display.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<form class="form-login" action="local_login" method="post">
		<h2 class="form-login-heading">Please log up</h2>
		<label for="inputName" class="sr-only">Login id</label>
		<input id="inputName" name="login_name" class="form-control" placeholder="login" required autofocus>
		<label for="inputPassword" class="sr-only">Password</label>
		<input type="password" id="inputPassword" name="login_password", class="form-control" placeholder="Password" required>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
    </form>

	<div style="color: red">
		<p class="signup-flash"><%= flash_msg %></p>
    </div>


	<div class="container-fluid" style="text-align: center">
		<a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>Back to Home </a>
	</div>

</body>
</html>
