<!DOCTYPE HTML>
<html>
<head>
	<title> <%= blog_entry.subject %></title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<link rel="stylesheet" href="/stylesheets/sudeep_blog_display.css">

	<!-- For Google Share -->
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<!-- SDK for Facebook share -->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=229360377211071";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<!-- Jumbotron title -->
	<div class="container-fluid">
		<div class="jumbotron" style="background: #BCBCBC">
			<div class="row">
				<div class="col-xs-6 col-md-4">
					<!-- Gravatar image -->
					<img src="http://www.gravatar.com/avatar/1cd45d5f04e20582a5a0892dc7b8b227?s=156" />
					<!-- end Gravatar image -->
				</div>
				<div class="col-xs-12 col-md-8">
					<h1>Sudeep's Blog</h1>
					<h3>Disorganized Thoughts in Organized Manner</h3>
				</div>
			</div>
		</div>
	</div>

	<!-- blog contents using panels -->
	<div class="container-fluid">
		<div class="panel panel-info">
			<div class="panel-heading">
				<span class="panel-title">
					<%= blog_entry.subject %>
				</span>
			</div>

			<div class="panel-body">
				<%- blog_entry.body %>
			</div>

		</div>
	</div>

	<div class="container-fluid">
		<!-- Twitter -->
		<a href="https://twitter.com/share" class="twitter-share-button"{count} data-text="<%= blog_entry.subject %>" data-via="pseud_deep">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
		</script>

		<!-- Google Plus -->
		<div class="g-plus" data-action="share" data-annotation="bubble"></div>

		<!-- LinkedIn -->
		<script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
		<script type="IN/Share" data-counter="right"></script>

		<!-- Facebook -->
		<div class="fb-share-button" data-layout="button"></div>

	</div>

	<div class="container-fluid" style="text-align: center">
		<a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>Back to Home </a>
	</div>

</body>
</html>
