<!DOCTYPE HTML>
<html>
<head>
	<title> <%= blog_entry.subject %> </title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/sudeep_blog_display.css">
</head>
<body>
	<!-- Gravatar image -->
	<img src="http://www.gravatar.com/avatar/1cd45d5f04e20582a5a0892dc7b8b227?s=100" class="sudeep-blog-photo" />
	<!-- end Gravatar image -->
	<h1>Sudeep's Blog</h1>
	<h3>Disorganized Thoughts in Organized Manner</h3>
	<div class="sudeep-blog-display" style="margin-top:40px;">
		<div class="sudeep-blog-display-subject">
			<h2><%= blog_entry.subject %></h2>
			<span class="sudeep-blog-display-date"><%= blog_entry.created_at %></span>
			<!-- Tweet button -->
			
			<!-- end Twitter button -->
			<!-- tumblr button -->
			
			<!-- end of tumblr button -->
        </div>
		<hr>
		<div class="sudeep-blog-display-body">
			<pre><%- blog_entry.body %></pre>
		</div>	
	</div>
	<div class="sudeep-blog-anchor">
		<a href="/">&lt;&lt;Return to Blog entries</a>
	</div>
</body>
</html>
