body {
	font-family: Helvetica, sans-serif;
}
body h3 {
	margin-top: 0px;
	color: #787878;
}

label {
  display: block;
  width: 90%;
  margin: 5px;
}

.sudeep-blog-photo {
	float: left;
	display: inline;
}

.sudeep-blog-label {
  display: inline-block;
  width: 10%;
  font-weight: bold;
  text-align: right;
  margin-right: 10px;
}

.sudeep-blog-login,
.sudeep-blog-login a {
	color: #303030;
	width: 90%;
	text-align: right;
}

.sudeep-blog-login a:hover {
	background: #C0C0C0;
}

.sudeep-blog-login-input {
  width: 20%;
  font-size: 25px;
  border: 3px solid #cccccc;

}

.sudeep-blog-button {
  width: 100px;
  height: 30px;
  border: 1px solid #006;
  font-weight: bold;
}

.sudeep-blog-error {
  color: #E00000;
  margin: 5px;
}

.sudeep-blog-display {
	border: 1px solid black;
	background: #EEEEEE;
	width: 90%;
	margin-left: 20px;
	margin-bottom: 30px;
}

.sudeep-blog-display-subject {
	padding: 10px;
	margin-bottom: -10px;
	background: #DEDEDE;
}

.sudeep-blog-display-subject hr {
	padding: 0px;
}

.sudeep-blog-display-date {
	float: right;
	font-size: 15px;
	color: #757575;
	margin-bottom: 0px;	
}

#sudeep-blog-tumblr {
	display:inline-block; 
	text-indent:-9999px; 
	overflow: hidden; 
	width: 61px; 
	height: 20px; 
	background: url('http://platform.tumblr.com/v1/share_1.png') 
	top left no-repeat transparent;
}

.sudeep-blog-anchor {
	margin-top: 10px;
	margin-bottom: 20px;
}

.sudeep-blog-anchor a, 
.sudeep-blog-display-body a {
	color: #232323;
}

.sudeep-blog-anchor a:hover,
.sudeep-blog-display-body a:hover {
	background: #E2E2E2;
}