/* Overriding style from Twitter bootstrap */
.panel-title {
	font-size: x-large;
}

.panel-body {
	width: 100%;
	white-space: pre-line;
	word-wrap: break-word;
	font-size: 120%;
}

/* Login Form */
.form-login {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-login .form-login-heading
{
  margin-bottom: 10px;
}
.form-login .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-login .form-control:focus {
  z-index: 2;
}
.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* social buttons */
/* This gets Facebook to fall into place */
.social {
  margin-bottom: 15px;
}

/* Editor in new tab */
#editor {
	overflow:scroll;
	min-height:380px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Media queries for small size */

@media only screen and (max-width: 991px) {
	.panel-body img {
		width: 100%;
	}
}
