/* Overriding style from Twitter bootstrap */
.panel-title {
	font-size: x-large;
}

.panel-body {
	width: 100%; 
	white-space: pre-line; 
	word-wrap: break-word; 
	font-size: 120%;
}

/* Media queries for small size */

@media only screen and (max-width: 991px) {
	.panel-body img {
		width: 100%;
	}
}
